@import "tailwindcss";

@font-face {
  font-family: 'General Sans';
  src: url('/GeneralSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-sans: 'General Sans', system-ui, sans-serif;
}

body {
  font-family: var(--font-family-sans);
}

