
@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400;500;700&display=swap');


@import "tailwindcss";


:root {
  --font-family-sans: 'Satoshi', system-ui, sans-serif;
}

body {
  font-family: var(--font-family-sans);
  font-weight: 100; 
}
